nav {
  padding: 0 0.5rem;

  gap: 0.3rem;

  background-color: var(--theme-color);

  user-select: none;

  position: sticky;
  top: 0;
  z-index: 10;
}

nav a {
  --y-padding: 0.5rem;
  --y-margin: 0.25rem;
  margin-top: var(--y-margin);
  padding: var(--y-padding) calc(var(--y-padding) * 2);
  padding-bottom: calc(var(--y-padding) + var(--y-margin));

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;

  color: var(--color-dark);

  text-decoration: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  transition-duration: 0.15s;
  transition-property: margin-bottom, padding-bottom, background-color, color,
    border-radius, font-weight;
  transition-timing-function: ease-in-out;
}

nav a:hover {
  padding-bottom: var(--y-padding);
  margin-bottom: var(--y-margin);

  color: var(--color-dark);
  background-color: var(--theme-color-darker);

  border-radius: var(--border-radius);
}

nav a.active {
  color: var(--color-light);
  background-color: var(--theme-color-lighter);

  font-weight: bold;
}

nav a span {
  display: none;
}

@media screen and (min-width: 720px) {
  nav a i {
    padding-bottom: 0.1rem;
  }

  nav a span {
    display: block;
  }
}
