:root {
  /* Theme colors */
  --theme-color-darker: #132a13;
  --theme-color-dark: #31572c;
  --theme-color: #4f772d;
  --theme-color-light: #90a955;
  --theme-color-lighter: #ecf39e;

  /* Other colors */
  --color-dark: #ffe8d6;
  --color-dark-accent: #fecca6;
  --color-light: #432818;
  --color-light-accent: #673d25;

  /* Values */
  --border-radius: 8px;
}

::selection {
  color: var(--color-dark);
  background: var(--theme-color-darker);
}
::-moz-selection {
  color: var(--color-dark);
  background: var(--theme-color-darker);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--theme-color-lighter);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-color-light);
  border-radius: 10px;
  border: solid 4px var(--theme-color-lighter);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color);
}

/* Make fonts */
@font-face {
    font-family: "Poppins";
    src: url("../../global/fonts/Poppins/Poppins-Regular.ttf");
}


.rounded {
  border-radius: var(--border-radius);
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.text-shadow {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
