header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  transform-style: preserve-3d;
  z-index: -2;

  /* background-color: var(--theme-color-dark); */
  color: var(--color-dark);
  /* background-image: url('../images/leafsborder.png'); */
  background-size: 100% 100%;
}

header img {
  margin: 0;
  padding: 0;
}

header .background {
  transform: translateZ(-10px) scale(2) translateY(-29px) translateX(-3px);
}

header .foreground {
  transform: translateZ(-3px) scale(1.5);
}

header .background,
header .foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

header span {
  text-shadow: 0 0 5px black;
  text-align: center;
}

header span h1 {
  font-weight: bold;
  font-size: 2rem;
}

header span p {
  width: 75%;
  margin: 0 auto;
  font-size: 1rem;
}

@media screen and (min-width: 512px) {
  header span h1 {
    font-size: 2.5rem;
  }
  
  header span p {
    font-size: 1.5rem;
    width: 50%;
  }
}