/* Import root vars and classes */
@import url('./root.css');
/** Import other css files */
@import url('./header.css');
@import url('./nav.css');
@import url('./form.css');
@import url('./footer.css');

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  background-color: var(--theme-color);
  font-family: 'Poppins';
  font-size: 16px;
  color: var(--color-light);
  font-weight: 400;
  line-height: 1.8;
}

.wrapper {
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

  scroll-behavior: smooth;
}

main > section {
  display: block;
  width: 90%;
  padding: 10px 5%;
}
main > section:nth-child(even) {
  background-color: var(--theme-color-light);
}
main > section:nth-child(odd) {
  background-color: var(--theme-color-lighter);
}

h2,
h3,
h4 {
  font-weight: bold;
  margin: 1rem 0;
}
h2 {
  font-size: 1.5rem;
  color: var(--color-light-accent);
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}

main img {
  display: block;
  width: 85%;
  max-width: 200px;
  padding: 0.4rem;
  margin: 0.4rem 0.8rem;
  border-radius: var(--border-radius);
  border: solid 2px var(--theme-color-dark);
  user-select: none;
}

p {
  margin: 1rem 0;
  font-size: 17px;
}

i {
  font-style: italic;
}

.inline-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.d-flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
  min-width: 200px;
  width: 30%;
}
.col img {
  width: 100%;
  margin: 0 auto;
}

.align-left {
  text-align: left;
}

@media screen and (min-width: 512px) {
  body {
    width: 90%;
    margin: 1rem auto;
    border: solid 2px var(--theme-color-light);
  }
  h2 {
    font-size: 2rem;
  }
  main p {
    text-align: justify;
  }
  div.align-left {
    text-align: left;
  }
  main img {
    width: 40%;
    max-width: 85%;
  }
}

/* Style back to top link */
.back-to-top {
  border-radius: var(--border-radius);
  padding: 0.2rem 0.4rem;
  background-color: var(--theme-color);
  counter-reset: var(--color-dark);
  color: var(--color-dark);
}
.back-to-top a {
  text-decoration: none;
}
.back-to-top a:active {
  color: aliceblue;
}

/* Contact section */
#contact section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

#contact a {
  color: var(--color-dark);
}

#contact hr {
  display: none;
}

#contact section tr {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#contact section tr i {
  width: 16px;
}

@media screen and (min-width: 700px) {
  #contact section {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  #contact section aside h3 {
    text-align: right;
  }

  #contact section tr {
    flex-direction: row-reverse;
    text-align: right;
    margin: 0.5rem 0;
  }

  #contact hr {
    display: block;
    width: 0;
    border-radius: var(--border-radius);
    border: solid 2px var(--theme-color-dark);
  }
}
